html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%; 
  text-align: left;
}

.bc-light-gray {
  background-color: #e9e9e9;
}

.bc-light-gray2 {
  background-color: #fafafa;
}

.color-dark-gray {
  color: #545454;
}

.fr {
  float: right;
}

.fw-bold {
  font-weight: bold;
}

#header {
  width: 100%;
  overflow: auto;
  border-bottom: 1px solid gray;
  background-color: #e9e9e9;
  padding: 5px 80px;
}

h1, h3 {
  display: inline-block;
  margin: 0px;
}

#header h1 {
  cursor: pointer;
}

#results-container h1 {
  display: block;
  margin-bottom: 20px;
}

#subtitle {
  font-weight: bold;
  margin-left: 20px;
}

#main-container {
  padding: 20px 100px 0px 100px;
}

#search-container {
  margin-bottom: 20px;
}

#movieSearchBox {
  width: 340px;
  font-size: 14pt;
}

button {
  padding: 5px;
  border: 1px solid gray;
  background-color: #e9e9e9;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

button:hover {
  box-shadow: 2px 2px 2px black;
}

#results-container {
  display: none;
  width: 860px;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  padding: 10px 10px 60px;
  background-color: white;
  overflow: auto;
}

.results-box {
  padding: 10px;
  cursor: pointer;
  color: #136cb2;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11pt;
}

.results-box:hover {
  background-color: #c5e3ed;
}

.year {
  color: black;
}

#results-container img {
  width: 260px;
  float: left;
  margin: 0px 20px 20px 0px;
}

#rating {
  display: inline;
  margin-left: 20px;
  padding: 5px 10px;
  background-color: red;
  border-radius: 10px;
  color: white;
}

#castContainer {
  width: 580px;
  display: inline-block;
}

#castContainer button {
  background-color: white;
}

.castName {
  display: inline-block;
  width: 240px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: auto;
  padding: 16px 80px;
  border-top: 1px solid gray;
  background-color: #e9e9e9;
  outline: 4px solid white;
}
