body {
  text-align: left;
  margin: 0;
}

#header {
  width: 100%;
  overflow: auto;
  border-bottom: 1px solid gray;
  background-color: #e9e9e9;
  padding: 5px 80px;
}

h1, h3 {
  display: inline-block;
  margin: 0px;
}

#subtitle {
  font-weight: bold;
  margin-left: 20px;
}

#main-container {
  padding: 20px 100px 0px 100px;
}

#search-container {
  margin-bottom: 20px;
}

#movieSearchBox {
  width: 340px;
  font-size: 14pt;
}

button {
  padding: 5px;
  border: 1px solid gray;
  background-color: #e9e9e9;
  border-radius: 4px;
  outline: none;
}

#results-container {
  width: 800px;
}

.results-box {
  margin-top: 10px;
}

#footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  overflow: auto;
  padding: 16px 80px;
  border-top: 1px solid gray;
  background-color: #e9e9e9;
}
